<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.campus.trade.mapper.ShoppingCartMapper">

    <select id="list" resultType="com.campus.trade.entity.ShoppingCart">
        select * from shopping_cart
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="itemId != null">
                and item_id = #{itemId}
            </if>
            <if test="bundleId != null">
                and bundle_id = #{bundleId}
            </if>
        </where>
    </select>

    <insert id="insertBatch">
        insert into shopping_cart (name, user_id, item_id, bundle_id, number, amount, image, create_time)
        values
        <foreach collection="shoppingCartList" item="sc" separator=",">
            (#{sc.name}, #{sc.userId}, #{sc.itemId}, #{sc.bundleId}, #{sc.number}, #{sc.amount}, #{sc.image}, #{sc.createTime})
        </foreach>
    </insert>
</mapper>
